{% extends 'base.html' %}

{% block content %}
    <main>
        <main>
            <div>
                <h1>My Projects</h1>
                    <p>You are not assigned to any projects</p>
                {% if projects == None %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <p>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                    </p>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                                <nav>
                                    <ul>
                                        {% if user.is_authenticated %}
                                            <li>
                                                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
{% endblock content %}
